a{text-decoration: none;}

body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0
}

.top-bar{
	display: none;
	padding: .3em 0
}

.site-header{
	padding: 2em 0
}
.site-logo, .site-logo img{
	width: 100%
}


.primary-menu{
	float: right;
	overflow: hidden;
}
.primary-menu li{
	list-style: none;
	float: left;
}
.primary-menu li a{
	outline-offset: -8px;
	padding: 0.65625em 0.875em;
	white-space: nowrap;
}