@import url(https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css);


.btn{
	border: 1px solid #ccc;
	display: inline-block;
	padding: .8rem 1.5rem;
}

.btn-primary{
	background: #ccc;
	color: #fff !important
}

.pull-left {
    float: left!important;
}

.pull-right {
    float: right!important;
}




a{text-decoration: none;}

body{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0
}

ol, ul{overflow: hidden; margin: 0; padding: 0}

.top-bar{
	padding: .3em 0
}

.site-header{
	border-bottom: 15px solid #c89422;
	padding: 2em 0;
	z-index: 10000000;
	margin-bottom: 3em;
	position: sticky;
}
.site-logo, .site-logo img{
	width: 100%
}

.home .site-header{margin-bottom: 0;}

.main-menu{
	float: right;
	overflow: hidden;
}
.main-menu-right{
	overflow: hidden;
}
.main-menu li, .main-menu-right li{
	list-style: none;
	float: left;
}
.main-menu li a, .main-menu-right li a{
	outline-offset: -8px;
	padding: 0.65625em 0.875em;
	white-space: nowrap;
}


/*
 * WooCommerce Styles
 */
input[name="apply_coupon"],
input[name="update_cart"]{
	font-weight: 400 !important;
	font-size: .8em !important;
	padding: 1em !important;
}

#coupon_code{
	padding: .95em;
	width: 10em;
}

.related.products{
	clear: left;
	overflow: hidden;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
	padding: 1em
}

.woocommerce table.shop_table{
	border-radius: 0
}

.woocommerce-cart table.cart .product-thumbnail{
	max-width: 50px;
	padding: 1em 1em;
}

.woocommerce-cart table.cart img{
	width: 100% !important
}



.floating-cart-btn a {
	background: red;
	color: #fff;
	padding: .2em .35em;
	font-size: 2.5em;
	border-radius: 50%;
	bottom: 0;
	position: fixed;
	right: 0;
	margin: 0 1em 1em 0;
}





.btn-float-cart {
  display: inline-block;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 3rem;
  color: #323334;
  position: relative;
  margin: 0 30px;
/*  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  -webkit-animation: appear 300ms;
          animation: appear 300ms;*/
}
.btn-float-cart:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.btn-float-cart .notification-label {
  position: absolute;
  top: -10px;
  right: -10px;
}

.notification-label {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 1rem;
/*  -webkit-animation: bounceIn 700ms;
          animation: bounceIn 700ms;*/
}
.notification-label.notification-label-red {
  background: #FC3768;
}
.notification-label.notification-label-blue {
  background: #4285f4;
}

.cart-content-inner{
	max-height: 200px;
	overflow: auto;
}

.floating-cart-resume {
    width: 300px;
    background: #fff;
    bottom: 120px;
    border: 3px solid #E6E6E6;
    right: 37px;
    position: fixed;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.07);
    display: none;
}

.floating-cart-resume-show{
	display: inherit;
}

.floating-cart-resume:before {
    content: "";
    position: absolute;
    bottom: -13px;
    right: 20px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #E6E6E6 transparent;
    display: block;
    width: 0;
}

.floating-cart-resume .title{
	font-size: 1.7em;
	margin: 0 0 .5em 0;
	padding: 0;
}

.floating-cart-resume > .content > .product{
	border-bottom: 1px solid #efefef;
	overflow: hidden;
	padding: 1em 0;
}

.floating-cart-resume > .content > .product:last-child{
	margin-bottom: 2rem
}

.floating-cart-resume > .content > .product > .image img{
	height: auto;
	width: 100%;
}

.floating-cart-resume > .content > .product .name{
	margin-bottom: .6rem
}

.floating-cart-resume > .subtotal{
	display: block;
	margin-bottom: 2rem;
	overflow: hidden;
	text-transform: uppercase;
}

.floating-cart-resume > .actions{
	overflow: hidden;
	text-align: center;
}

.floating-cart-resume > .actions .btn{width: 100%; margin-bottom: 1em}

.floating-cart-resume .remove-item{font-size: .7rem}


.removeble{
	opacity: 0.5;
}

.removed{
	-webkit-animation: removed-item-animation .3s cubic-bezier(.55,-0.04,.91,.94) forwards;
	-o-animation: removed-item-animation .3s cubic-bezier(.55,-0.04,.91,.94) forwards;
	animation: removed-item-animation .3s cubic-bezier(.55,-0.04,.91,.94) forwards;
	display: none;
}

@keyframes removed-item-animation {
	from {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	to {
		-webkit-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 0;
	}
}

@-webkit-keyframes removed-item-animation {
	from {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 0;
	}
}

@-o-keyframes removed-item-animation {
	from {
		opacity: 1;
		-o-transform: scale(1);
		transform: scale(1);
	}
	to {
		-o-transform: scale(0.5);
		transform: scale(0.5);
		opacity: 0;
	}
}


select {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: block;
	height: 38px;
	padding: 8px 10px;
	background: #fff;
	overflow: hidden;
	line-height: 22px;
	font-size: 13px;
	-webkit-border-radius: 0;
	border-radius: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	border: 1px solid #D5D5D5;
	background-image: url(../img/select-arrow.jpg);
	background-position: 96% 50%;
	background-repeat: no-repeat;
}

.orderby {
	height: 33px;
	line-height: 17px;
	background-position: 95% 50%;
	padding: 7px 30px 7px 9px;
}